*.pyc
*.pt
__pycache__/
.env
.DS_Store
.vscode/
.idea/
node_modules/
dist/
build/
*.log
coverage/
*.sqlite3
*.db
*.egg-info/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.bk
cbf_env/
logs/navigation_naive/
logs/navigation_cbf/
logs/navigation_filter_only/
logs/navigation_reward_only/